/* Blue theme overrides using data-theme-preset="blue" */
:root[data-theme-preset="blue"] {
  --primary: 217.2 91.2% 59.8%;
  --ring: 217.2 91.2% 59.8%;
}

.dark:root[data-theme-preset="blue"] {
  --primary: 212.7 26.8% 83.9%;
  --ring: 212.7 26.8% 83.9%;
}
