/* 
label: Orange
value: orange  
*/

:root[data-theme-preset="orange"] {
  --primary: 24 94% 50%;
  --ring: 24 94% 50%;
}

.dark:root[data-theme-preset="orange"] {
  --primary: 24 65% 70%;
  --ring: 24 65% 70%;
}
